@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: rgb(142, 20, 224);
    font-weight: 300;
}

.max-width {
    max-width: 600px;
    width: 100%;
}

.text-right {
    text-align: right;
}

label{
    font-weight: bold;
    display: block;
    margin:10px 0px 5px 0;
    color: rgb(142, 20, 224);
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    border: 1px solid #EEE;
    outline: none;
    padding: 10px;
    color: rgb(142, 20, 224);
}

input[type="submit"]{
    background-color: rgb(142, 20, 224);
    border: 1px solid #EEE;
    color: #FFF;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

input[type="submit"]:hover{
    background-color: rgb(77, 14, 119);

}

hr{
    border-bottom: 1px solid rgb(77, 14, 119);
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

span{
    font-weight: bold;
}